html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: black;
}


h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

p,
ol,
ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2 {
	letter-spacing: 0.20em;
	font-weight: 700;
	font-size: 2em;
	color: #00AABB;
}

.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}

/** WRAPPER */



.container {
	width: 1200px;
	margin: 0px auto;
	align-items: center;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper {
	overflow: hidden;
	background-size: 100%;
	background: #005c84;
}

#header-wrapper img {
	position: absolute;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
	position: relative;
	overflow: hidden;
	text-align: center;
}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	width: 500px;
	height: 100px;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#logo h1 {
	letter-spacing: 0.10em;
	font-size: 3em;
}

#logo p {
	letter-spacing: 0.10em;
	color: #FFF;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
	position: absolute;
	left: 0;
	overflow: hidden;
	z-index: 1;
}
/** PAGE */

#page {
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
}

/** CONTENT */

#content {
	float: right;
	width: 790px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
	overflow: hidden;
	padding: 5em 0em;
	text-align: center;
}

#copyright p {
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #6F6F6F;
}

#copyright a {
	text-decoration: none;
	color: #8C8C8C;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
	overflow: hidden;
	padding: 5em 0em;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}

#welcome h2 {
	letter-spacing: 0.20em;
	text-transform: uppercase;
	font-size: 2.6em;
}

#welcome p {
	font-size: 1.3em;
}

#welcome .byline {
	display: block;
	padding: 0em 0em 1.5em 0em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.2em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
	display: inline-block;
	margin-top: 1.5em;
	padding: 0.50em 3em 0.50em 2em;
	background: #00AABB;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}

.button:before {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFF;
}
table{
    border-collapse: collapse
  }
  
  td{
    border: 1px solid black;
    padding: 10px;
  }